<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>ETAT FINANCIER</h5>
        <div class="ibox-tools">
            <span class="btn btn-xs btn-default btn-outline collapse-link">
                <i class="fa fa-chevron-up"></i>
            </span>
        </div>
    </div>
    <div class="ibox-content full-height-scroll scroller">
        <div class="file-manager" id="js_eb_menu">
            <h5>BILAN</h5>
            <ul class="folder-list padding-2">
                <li><a class="js_eb_mn_item eb_menu_active" data-etat="0" href=""><i class="fa fa-chevron-circle-right"></i>&nbsp;<span>Actif</span></a></li>
                <li><a class="js_eb_mn_item" data-etat="1" href=""><i class="fa fa-chevron-circle-right"></i>&nbsp;<span class="text-black">Passif</span></a></li>
            </ul>
            <div>&nbsp;</div>
            <h5>RESULTAT</h5>
            <ul class="folder-list padding-2">
                <li><a class="js_eb_mn_item" data-etat="2" href=""><i class="fa fa-chevron-circle-right"></i>&nbsp;<span class="text-black">Produits et charges</span></a></li>
            </ul>
            <div>&nbsp;</div>
            <h5>FINANCEMENT</h5>
            <ul class="folder-list padding-2">
                <li><a class="js_eb_mn_item" data-etat="3" href=""><i class="fa fa-chevron-circle-right"></i>&nbsp;<span class="text-black">Tableau OEC</span></a></li>
            </ul>
            <div>&nbsp;</div>
            <h5><a class="js_eb_mn_item text-black" data-etat="10" href=""><span class="text-black">CONTROLE&nbsp;&nbsp;&nbsp;&nbsp;</span></a></h5>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="ibox-footer">
    </div>
</div>
