<div class="row">
    <div class="col-sm-4">
        {{ render(controller('AppBundle:Commun:clients',{'conteneur' : 0 })) }}
    </div>
    <div class="col-sm-4" id="js_conteneur_site">

    </div>
    <div class="col-sm-4" id="js_conteneur_dossier">

    </div>
    {#<div class="col-sm-2">
        <span class="btn btn-white" id="id_add_linxo_account"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Ajouter</span>
    </div>#}
</div>