<div class="ibox">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Rechercher..." id="js_search_ape">
                 <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btn-search-ape">Rechercher</button>
                </span>
    </div>
</div>


<div class="ibox">
    <div class="ibox-content">

        <div id="js_tree_code_ape"></div>

    </div>
</div>