<div class="ibox">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Rechercher..." id="js_search_profession_liberale">
        <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btn-search-profession-liberale">Rechercher</button>
                </span>
    </div>
</div>


<div class="ibox">
    <div class="ibox-content">

        <div id="js_tree_profession_liberale"></div>

    </div>
</div>