<div class="col-lg-12">
    <div class="row">
        {{ include('NoteFraisBundle:Administration/Utilisateur:utilisateurAction.html.twig') }}
    </div>

    <div class="ibox-content">
        <div class="row utilisateur-table">
            {{ include('NoteFraisBundle:Administration/Utilisateur:utilisateurTable.html.twig') }}
        </div>
    </div>
</div>

{{ include('NoteFraisBundle:Administration/Utilisateur:utilisateurModal.html.twig') }}
