<div class="row">
    {{ include('NoteFraisBundle:Depense:depenseFiltre.html.twig') }}
</div>

<div class="row">
    {{ include('NoteFraisBundle:Depense:depenseAction.html.twig') }}
</div>

<div class="row depense-table">
    {{ include('NoteFraisBundle:Depense:depenseTable.html.twig') }}
</div>

