.panel-success:hover{
    /*width: 250px;*/
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*text-align: center;*/
    cursor: pointer;
}

.panel-success .panel-body{
    height: 230px;
}

.grid .ibox {
    margin-bottom: 0;
}

.grid-item {
    margin-bottom: 25px;
    margin-left: 10px;
    width: 300px;
}