<form class="form-horizontal">
    <div class="row">
        <div class="form-group col-lg-4" id="js_creation_compte_impots">
            <label class="col-lg-8 control-label">Création compte impots .gouv</label>
            <div class="col-lg-4">
                <select class="form-control">
                    <option value="1">Oui</option>
                    <option value="0">Non</option>
                </select>
            </div>
        </div>
        <div class="form-group col-lg-4" id="js_teledeclaration_paiement_tva">
            <label class="col-lg-8 control-label">Télédeclaration et paiement TVA</label>
            <div class="col-lg-4">
                <select class="form-control">
                    <option value="1">Oui</option>
                    <option value="0">Non</option>
                </select>
            </div>
        </div>
        <div class="form-group col-lg-4" id="js_teledeclaration_paiement_is">
            <label class="col-lg-8 control-label">Télédeclaration et paiement IS</label>
            <div class="col-lg-4">
                <select class="form-control">
                    <option value="1">Oui</option>
                    <option value="0">Non</option>
                </select>
            </div>
        </div>
    </div>
</form>