{# <div class="ibox ibox-shadow">
	<div class="ibox-content">
		<div class="row">
			<div class="col-lg-12">
				<div id="anciennete_container" style="width:100%; margin-bottom: 25px">
                    <table id="js_anciennete"></table>
                </div>
			</div>
		</div>
	</div>
</div> #}