<div class="ibox-bancaire-en-cours">
	<div class="ibox-contents">
		<div class="row">
			<div class="col-lg-12">
				<div id="bancaires_en_cours_container" style="width:100%; margin-bottom: 25px">
		            <table id="js_bancaires_en_cours"></table>
		        </div>
			</div>
		</div>
	</div>
</div>