<div class="ibox-compte-banque">
	<div class="ibox-contents">
		<div class="row">
			<div class="col-lg-12">
				<div id="comptes_bancaires_container" style="width:100%; margin-bottom: 25px">
		            <table id="js_comptes_bancaires"></table>
		        </div>
			</div>
		</div>
	</div>
</div>