<div class="ibox ibox-shadow travaux_a_realiser_auto">
	<div class="ibox-contents">
		<div class="row">
			<div class="col-sm-12">
				<div id="travaux_a_realiser_container" style="width:100%;margin-bottom: 25px">
	                <table id="js_travaux_a_realiser"></table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hidden" id="data-group-header"></div>