	<div class="ibox ibox-shadow">
    	<div class="ibox-content">
    		<div class="row">
    			<div class="col-lg-12">
    				<div class="row">
    					<div class="col-lg-3">
	                        <div class="row">
	                            <div class="col-lg-12">
	                                {{ render(controller('AppBundle:Commun:clients', { 'tous': 2, 'attr_id': 'zendesk-client-user', 'label_col': 2, 'select_col': 10})) }}
	                            </div>
	                        </div>
	                    </div>
    				</div>
    			</div>
    		</div>
    	</div>
	</div>
