<div class="row">
    <div class="col-sm-4">
        {{ render(controller('AppBundle:Commun:clients',{'conteneur' : 0,'label_col':3,'select_col':9 })) }}
    </div>
    <div class="col-sm-3" id="js_conteneur_site"></div>
    <div class="col-sm-5" id="js_conteneur_dossier"></div>
</div>