<div class="row">
    <div class="col-sm-12">
        <div class="ibox ibox-shadow">
            <div class="ibox-title">
                <div class="col-sm-3"><h5>Gestion notification</h5></div>
            </div>

            <div class="ibox-content container-notification">
                <div class="scroller">
                    <table id="js_gestion_notification_liste" class="js-jqgrid-table"></table>
                    <div id="js_gestion_notification_liste_pager"></div>
                </div>
            </div>
        </div>
    </div>
</div>