<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Tr&eacute;sorerie</h5>
                <div class="ibox-tools">
                    <div class="btn-group">
                        <span data-toggle="dropdown" class="cl_base_libelle btn btn-white btn-xs dropdown-toggle">Mois</span>
                        <ul class="dropdown-menu dropdown-user" id="id_container_base">
                            <li data-base="0" class="cl_base"><a href="#">Exercice</a></li>
                            <li data-base="1" class="cl_base active"><a href="#">Mois</a></li>
                            <li data-base="2" class="cl_base"><a href="#">Jour</a></li>
                        </ul>
                    </div>

                    <div class="btn-group">
                        <span data-toggle="dropdown" class="cl_mois_libelle hidden btn btn-white btn-xs dropdown-toggle"></span>
                        <ul class="dropdown-menu hidden dropdown-user" id="id_container_mois"></ul>
                    </div>

                    <a class="collapse-link btn btn-xs btn-white">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content" id="id_container_treso">
            </div>
        </div>
    </div>
</div>