<div class="col-lg-12">
    <div class="row">
        {{ include('NoteFraisBundle:Administration/FraisKilometrique:fraisKilometriqueFiltre.html.twig') }}
    </div>

    <div class="ibox-content">
        <div class="row">
            <div class="table-responsive">
                <table class="footable table table-striped toggle-arrow-tiny table-hover table-frais-km" >

                </table>
            </div>
        </div>
    </div>
</div>