.js_cell_indicateur
{
    border: 1px solid #CCCCCC!important;
}

.js_cellule_edited
{
    border: 2px solid #16987e!important;
}

.indicateur_edited
{
    padding-left: 5px;
    /*padding-right: 5px;*/
    background-color: #f5f5f5;
}

.operateur
{
    margin: 2px!important;
}

.NA
{
    font-size: 15px!important;
    text-align: center!important;
    vertical-align: middle!important;
    font-weight: bold!important;
    font-style: normal!important;
    color: #f8ac59!important;
}