<form class="form-horizontal" id="js_form_envoi_document_comptable_fiscaux">

    <div class="row">

        <div class="col-sm-4">

            <div class="form-group">
                <label class="col-lg-6 control-label">Balance&nbsp;N&#150;1</label>
                <div class="col-lg-6">
                        <input type="file" class="form-control" name="envoi_piece[]" multiple id="js_envoi_balance_n1">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-6 control-label">Grand&nbsp;livre&nbsp;N&#150;1</label>
                <div class="col-lg-6">
                        <input type="file" class="form-control" name="envoi_piece[]" multiple id="js_envoi_grand_livre">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-6 control-label">Dernier&nbsp;rappro&nbsp;N&#150;1</label>
                <div class="col-lg-6">
                    <input type="file" class="form-control" name="envoi_piece[]" multiple id="js_envoi_dernier_rapprochement_banque">
                </div>
            </div>

        </div>


        <div class="col-sm-4">

            <div class="form-group">
                <label class="col-lg-6 control-label">Etat&nbsp;des&nbsp;immobilisations</label>
                <div class="col-lg-6">
                        <input type="file" class="form-control" name="envoi_piece[]" multiple id="js_envoi_etat_immobilisation">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-6 control-label">Liasse&nbsp;fiscale&nbsp;N-1</label>
                <div class="col-lg-6">
                        <input type="file" class="form-control" name="envoi_piece[]" multiple id="js_envoi_liasse_fisacle_n1">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-6 control-label">Dernière&nbsp;CA3</label>
                <div class="col-lg-6">
                    <input type="file" class="form-control" name="envoi_piece[]" multiple id="js_envoi_tva_derniere_ca3">
                </div>
            </div>


        </div>

    </div>



</form>