<form class="form-horizontal" id ="js_form_envoi_juridique">

    <div class="row">

        <div class="col-sm-4">
            <div class="form-group">
                <label class="col-lg-6 control-label">Statuts</label>
                <div class="col-lg-6">
                        <input type="file" class="form-control" name="envoi_piece[]" multiple id="js_envoi_statut">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-6 control-label">KBis</label>
                <div class="col-lg-6">
                    <input type="file" class="form-control" name="envoi_piece[]" multiple id="js_envoi_kbis">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-6 control-label">Baux</label>
                <div class="col-lg-6">
                    <input type="file" class="form-control" name="envoi_piece[]" multiple id="js_envoi_baux">
                </div>
            </div>

        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label class="col-lg-6 control-label">Assurances</label>
                <div class="col-lg-6">
                    <input type="file" class="form-control" name="envoi_piece[]" id="js_envoi_assurance">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-6 control-label">Autres</label>
                <div class="col-lg-6">
                        <input type="file" class="form-control" name="envoi_piece[]" id="js_envoi_autre">
                </div>
            </div>



        </div>

        <div class="col-sm-4">

            <div class="form-group">
                <label class="col-lg-6 control-label">Emprunts</label>
                <div class="col-lg-6">
                    <input type="file" class="form-control" name="envoi_piece[]" id="js_envoi_emprunt">
            </div>
            </div>

            <div class="form-group">
                <label class="col-lg-6 control-label">Leasing</label>
                <div class="col-lg-6">
                    <input type="file" class="form-control" name="envoi_piece[]" id="js_envoi_leasing">
                </div>
            </div>

        </div>

    </div>

</form>