{% set contenu =
        '<table class="table table-condensed table-hover no-margin" id="date_picker">' %}
                {% set contenu = contenu ~
            '<thead><tr class="pointer">' %}
                    {% for exercice in exercices %}
                        {% set contenu = contenu ~
                    '<th class="js_dp_exercice">' ~ exercice ~ '</th>' %}
                    {% endfor %}
                {% set contenu = contenu ~
            '</tr></thead><tbody>' %}
            {% set trimestre = 0 %}
            {% set index = 0 %}
            {% set position = 0 %}
            {% for key,val in moiss %}
                {% if(index == 0 or (index % 3 == 0)) %}
                    {% set trimestre = trimestre + 1 %}
                    {% set contenu = contenu ~ '
                    <tr class="pointer js_dp_tr_trimestre" data-trimestre="' ~ trimestre ~ '">
                        <th class="text-center js_dp_T' ~ trimestre ~ ' js_dp_trimestre" colspan="2">T' ~ trimestre ~ '</th>' %}
                {% endif %}
                {% set contenu = contenu ~ '
                        <td class="js_dp_mois" data-position="' ~ position ~ '" data-val="' ~ key ~ '">' ~ val ~ '</td>' %}
                {% if(index == moiss|length or ((index + 1) % 3 == 0)) %}
                    {% set contenu = contenu ~ '
                    </tr>' %}
                {% endif %}
                {% set index = index + 1 %}
                {% set position = position + 1 %}
            {% endfor %}
{% set contenu = contenu ~ '
        </tbody>
        <tfoot>
            <th colspan="4" class="text-center"><span id="js_dp_valider" class="btn btn-primary btn-xs"><i class="fa fa-check"></i>&nbsp;Valider</span></th>
        </tfoot>
        </table>' %}

<div class="hidden" id="date_picker_hidden">
    {{ contenu|raw }}
</div>

<form class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-2 control-label">P&eacute;riode</label>
        <div class="col-lg-10">
            <span class="btn btn-white" data-container="body" id="dp_button" data-toggle="popover" data-placement="bottom"
                  data-content="{{ contenu }}">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>
</form>