<div class="div-flottante">
    <ul class="notes">
        <li>
            <div>
                <small>{{ "now"|date("d/m/Y") }}</small>
                <p><i class="twa twa-2699 twa-3x"></i></p>
                <h4>Page&nbsp;en&nbsp;D&eacute;veloppement</h4>
            </div>
        </li>
    </ul>
</div>