<table class="width-100 table-color-picker">
    <tbody>
        <tr class="js_tr_color_picker tr-color-picker">
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="000, 000, 000" style="background-color: rgb(000, 000, 000);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="068, 068, 068" style="background-color: rgb(068, 068, 068);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="102, 102, 102" style="background-color: rgb(102, 102, 102);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="153, 153, 153" style="background-color: rgb(153, 153, 153);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="204, 204, 204" style="background-color: rgb(204, 204, 204);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="238, 238, 238" style="background-color: rgb(238, 238, 238);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="243, 243, 243" style="background-color: rgb(248, 248, 255);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="255, 255, 255" style="background-color: rgb(255, 255, 255);">&nbsp;</td>
        </tr>

        <tr class="js_tr_color_picker tr-color-picker">
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="244, 204, 204" style="background-color: rgb(244, 204, 204);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="252, 229, 205" style="background-color: rgb(252, 229, 205);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="255, 242, 204" style="background-color: rgb(255, 242, 204);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="217, 234, 211" style="background-color: rgb(217, 234, 211);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="208, 224, 227" style="background-color: rgb(208, 224, 227);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="207, 226, 243" style="background-color: rgb(207, 226, 243);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="217, 210, 233" style="background-color: rgb(217, 210, 233);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="234, 209, 220" style="background-color: rgb(234, 209, 220);">&nbsp;</td>
        </tr>
        <tr class="js_tr_color_picker tr-color-picker">
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="234, 153, 153" style="background-color: rgb(234, 153, 153);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="249, 203, 156" style="background-color: rgb(249, 203, 156);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="255, 229, 153" style="background-color: rgb(255, 229, 153);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="182, 215, 168" style="background-color: rgb(182, 215, 168);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="162, 196, 201" style="background-color: rgb(162, 196, 201);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="159, 197, 232" style="background-color: rgb(159, 197, 232);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="180, 167, 214" style="background-color: rgb(180, 167, 214);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="213, 166, 189" style="background-color: rgb(213, 166, 189);">&nbsp;</td>
        </tr>
        <tr class="js_tr_color_picker tr-color-picker">
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="224, 102, 102" style="background-color: rgb(224, 102, 102);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="246, 178, 107" style="background-color: rgb(246, 178, 107);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="255, 217, 102" style="background-color: rgb(255, 217, 102);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="147, 196, 125" style="background-color: rgb(147, 196, 125);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="118, 165, 175" style="background-color: rgb(118, 165, 175);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="111, 168, 220" style="background-color: rgb(111, 168, 220);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="142, 124, 195" style="background-color: rgb(142, 124, 195);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="194, 123, 160" style="background-color: rgb(194, 123, 160);">&nbsp;</td>
        </tr>
        <tr class="js_tr_color_picker tr-color-picker">
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="204, 000, 000" style="background-color: rgb(204, 000, 000);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="230, 145, 056" style="background-color: rgb(230, 145, 056);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="241, 194, 050" style="background-color: rgb(241, 194, 050);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="106, 168, 079" style="background-color: rgb(106, 168, 079);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="069, 129, 142" style="background-color: rgb(069, 129, 142);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="061, 133, 198" style="background-color: rgb(061, 133, 198);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="103, 078, 167" style="background-color: rgb(103, 078, 167);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="166, 077, 121" style="background-color: rgb(166, 077, 121);">&nbsp;</td>
        </tr>
        <tr class="js_tr_color_picker tr-color-picker">
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="153, 000, 000" style="background-color: rgb(153, 000, 000);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="180, 095, 006" style="background-color: rgb(180, 095, 006);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="191, 144, 000" style="background-color: rgb(191, 144, 000);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="056, 118, 029" style="background-color: rgb(056, 118, 029);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="019, 079, 092" style="background-color: rgb(019, 079, 092);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="011, 083, 148" style="background-color: rgb(011, 083, 148);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="053, 028, 117" style="background-color: rgb(053, 028, 117);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="116, 027, 071" style="background-color: rgb(116, 027, 071);">&nbsp;</td>
        </tr>
        <tr class="js_tr_color_picker tr-color-picker">
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="102, 000, 000" style="background-color: rgb(102, 000, 000);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="120, 063, 004" style="background-color: rgb(120, 063, 004);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="127, 096, 000" style="background-color: rgb(127, 096, 000);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="039, 078, 019" style="background-color: rgb(039, 078, 019);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="012, 052, 061" style="background-color: rgb(012, 052, 061);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="007, 055, 099" style="background-color: rgb(007, 055, 099);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="032, 018, 077" style="background-color: rgb(032, 018, 077);">&nbsp;</td>
            <td class="js_td_color_picker td-color-picker pointer" data-rgb="076, 017, 048" style="background-color: rgb(076, 017, 048);">&nbsp;</td>
        </tr>
        <tr class="js_tr_color_picker tr-color-picker">
            <td class="text-center js_td_color_picker td-color-picker pointer" colspan="8" data-rgb="102, 000, 000" style="background-color: rgba(0, 0, 0, 0);">Transparent</td>
        </tr>
    </tbody>
</table>