<div class="modal" id="js_aide_3_menu_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <div class="row" id="js_aide_2_form">

                    <div class="ibox">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Double clickez sur la liste en dessous" id="js_menu_aide">
                            <span class="input-group-btn">
                                <div class="btn btn-success" id="js_save_menu_aide_3">Enregistrer</div>
                            </span>
                        </div>
                    </div>
                </div>

                <br/>

                <div class="row" >

                    <div class="ibox">
                        <div class="ibox-content">

                            <div id="js_tree_menu"></div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>