<div class="modal" id="js_aide_2_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <div class="row" id="js_aide_2_form">

                </div>

                <br/>

                <div class="row">
                    <table id="js_aide_3_liste" class="js-jqgrid-table"></table>
                    <div id="js_aide_3_pager"></div>
                </div>
            </div>
        </div>
    </div>
</div>