<div class="row">
    <div class="col-lg-12">
        {{ include('EtatBundle:Tresorerie/detail:ibox-detail.html.twig', { type: 0 }) }}
    </div>
    <div class="col-lg-12">
        {{ include('EtatBundle:Tresorerie/detail:ibox-detail.html.twig', { type: 1 }) }}
    </div>
</div>