<form class="form-horizontal hidden">
    <div class="form-group">
        <label class="control-label col-lg-2" for="js_type_client">
            <span>Type</span>
        </label>
        <div class="col-lg-10">
            <select id="js_type_client" class="form-control">
                <option value="{{ 0|boost }}">Association</option>
                <option value="{{ 1|boost }}">Individuel</option>
                <option value="{{ 2|boost }}" selected>Soci&eacute;t&eacute;</option>
            </select>
        </div>
    </div>
</form>