<ul class="todo-list m-t text-center" style="margin: 10px !important;">
    <li>
        <h1><strong>{{ value|number_format(2, ',', '&nbsp;')|raw }}&nbsp;{{ unite }}</strong></h1>
        <small></small>
    </li>
</ul>