{% if opportunites|length >= 0 or period != 'all' %}
    <div class="chart-view hidden">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div>
                                <canvas id="barChart" height="140"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ asset('bundles/oneprospect/js/Chart.min.js') }}"></script>
        <script type="text/javascript">
            // Chart opportunities
            var ctx = document.getElementById("barChart").getContext("2d");

            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels:{{ chartLabels|json_encode|raw }},
                    datasets: [{
                        label: 'Revenu espéré',
                        data: {{ chartDatas|json_encode|raw }},
                        backgroundColor: 'rgba(14,106,173,0.5)',
                        borderColor: 'rgba(14,106,173,0.7)'
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
        </script>
    </div>
{% endif %}