<div class="col-lg-12">

    <div class="form-inline">

        {#<div class="input-group m-b">#}
            {#<div class="input-group-btn">#}
                {#<button class="btn btn-success dropdown-toggle btn-categorie-add" type="button"><span><i class="fa fa-plus"></i></span>&nbsp;&nbsp;Ajouter une catégorie</button>#}

            {#</div>#}
        {#</div>#}

        <div class="input-group m-b">
            <div class="input-group-btn">
                <button data-toggle="dropdown" class="btn btn-success dropdown-toggle btn-categorie-action" type="button">Action &nbsp;<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {#<li><a href="#" class="action-defaut" >Paramètres par défaut</a></li>#}

                </ul>
            </div>
        </div>


        {#<div class="input-group m-b">#}
            {#<div class="input-group-btn">#}
                {#<button class="btn btn-success dropdown-toggle btn-categorie-add" type="button"><span><i class="fa fa-wrench"></i></span>&nbsp;&nbsp;Paramètres par défaut</button>#}

            {#</div>#}
        {#</div>#}


    </div>

</div>