<div class="col-lg-12">

    <div class="form-inline">

        <div class="input-group m-b">
            <div class="input-group-btn">
                <button class="btn btn-success dropdown-toggle btn-vehicule-add" type="button"><span><i class="fa fa-plus"></i></span>&nbsp;&nbsp;Ajouter un véhicule</button>

            </div>
        </div>

    </div>

</div>