<div class="col-lg-12">
    <div class="row">
        {{ include('NoteFraisBundle:Administration/Contact:contactAction.html.twig') }}
    </div>

    <div class="ibox-content">
        <div class="row contact-table">
            {{ include('NoteFraisBundle:Administration/Contact:contactTable.html.twig') }}
        </div>
    </div>
</div>

{{ include('NoteFraisBundle:Administration/Contact:contactModal.html.twig') }}
