<div class="row">
    <div class="col-lg-12" id="id_stat_container">
        {#var a_categoriser = 0,
        piece_manquante = 0,
        affecter_avec_piece = 0,
        piece_a_affecter = 0,
        cle_a_valider = 0,
        affecter_cle = 0;#}

        <span class="simple_tag cl_stat pointer" data-type="0">A&nbsp;cat&eacute;goriser&nbsp;<span class="badge badge-info">0</span></span>
        <span class="simple_tag cl_stat pointer" data-type="1">Pi&egrave;ce&nbsp;manquante&nbsp;<span class="badge badge-info">0</span></span>
        <span class="simple_tag cl_stat pointer" data-type="2">Aff&eacute;cter&nbsp;avec&nbsp;pi&egrave;ce&nbsp;<span class="badge badge-info">0</span></span>
        <span class="simple_tag cl_stat pointer" data-type="3">Pi&egrave;ce&nbsp;&agrave;&nbsp;valider&nbsp;<span class="badge badge-info">0</span></span>
        <span class="simple_tag cl_stat pointer" data-type="4">Cl&eacute;&nbsp;&agrave;&nbsp;valider&nbsp;<span class="badge badge-info">0</span></span>
        <span class="simple_tag cl_stat pointer" data-type="5">Aff&eacute;cter&nbsp;par&nbsp;Cl&eacute;&nbsp;<span class="badge badge-info">0</span></span>
    </div>
</div>