<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-new-prospect-title">Nouvelle Famille Article</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" id="famille-article-form">
            <div class="form-group">
                <label for="nom" class="col-md-4 control-label">Nom*</label>
                <div class="col-md-6 col-sm-8 col-xs-8">
                    <input type="text" class="form-control" id="nom" name="nom" placeholder="nom">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="closeModal(); resetFamilleSelected({{ oldID }});">Annuler</button>
        <button type="button" class="btn btn-primary" onclick="saveFamilleArticle();">Enregistrer</button>
    </div>
</div>