<div class="row">
    <div class="col-sm-2 {{ (adminGranted) ? '' : 'hidden' }}" id="js_div_general">
        <span class="checkbox checkbox-default">
            <input id="js_is_general" type="checkbox" {{ (adminGranted) ? 'checked' : '' }}>
            <label for="js_is_general">Model g&eacute;neral</label>
        </span>
    </div>
    <div class="col-sm-10 {{ (adminGranted) ? 'hidden' : '' }}" id="js_div_dossier">
        <div class="row">
            <div class="col-sm-4">
                {{ render(controller('AppBundle:Commun:clients',{'conteneur' : 0})) }}
            </div>
            <div class="col-sm-4" id="js_conteneur_site"></div>
            <div class="col-sm-4" id="js_conteneur_dossier"></div>
        </div>
    </div>
</div>