<div class="row">
    <div class="col-sm-3">
        {{ render(controller('AppBundle:Commun:clients',{'conteneur' : 0, 'tous' : 0})) }}
    </div>
    <div class="col-sm-3" id="js_conteneur_site">

    </div>
    <div class="col-sm-3" id="js_conteneur_dossier">

    </div>


    <div class="col-sm-1">
        <button class="btn btn-primary btn-dossier-add" data-toggle="tooltip" data-placement="bottom" title="Cliquez ici pour créer un nouveau dossier"><i class="fa fa-plus"></i></button>
    </div>

    {#<div class="col-sm-2">#}
        {#<span style="float: right;" data-toggle="tooltip" data-placement="bottom" title=#}
        {#"Les informations notées * doivent être obligatoirement renseignées pour que le dossier soit créé.#}
{#Les onglets soulignés en rouge contiennent des informations obligatoires,#}
{#ils deviennent vert lorsque ces info sont renseignées ">#}
            {#<i class="fa fa-3x fa-question-circle" aria-hidden="true"></i>#}
        {#</span>#}
    {#</div>#}


    {#<div class="col-sm-2">#}
        {#<span style="float: right;" data-toggle="tooltip" data-placement="bottom" title=#}
        {#"Tutoriel pour la création de dossier">#}
            {#<i class="fa fa-3x fa-play-circle tutoriel" aria-hidden="true"></i>#}
        {#</span>#}
    {#</div>#}


    {#<div class="col-sm-3">#}
        {#<button class="btn btn-sm btn-primary btn-tout-valider" type="submit" id = "btn-validation-information-dossier" style="display:none;">VALIDER INFORMATIONS DOSSIER</button>#}
        {#<button class="btn btn-sm btn-primary btn-tout-valider" type="submit" id = "btn-validation-methode-comptable" style="display:none;">VALIDER METHODES COMPTABLES</button>#}
        {#<button class="btn btn-sm btn-primary btn-tout-valider" type="submit" id = "btn-validation-prestation-demande" style="display:none;">VALIDER PRESTATIONS DEMANDEES</button>#}
        {#<button class="btn btn-sm btn-primary btn-tout-valider" type="submit" id = "btn-validation-piece-envoyer" style="display:none;">VALIDER PIECES A ENVOYER</button>#}
    {#</div>#}

</div>