<div class="col-lg-3">
    <div class="row"></div>

    <div class="row">
        <div class="col-lg-12">
        <table class="table table-bordered" id="tab-progression">
            <thead style="font-size: 10px; text-align: center;">
                <tr>
                    <td class="td-head-progress">1</td>
                    <td class="td-head-progress">2</td>
                    <td class="td-head-progress">3</td>
                    <td class="td-head-progress">4</td>
                    <td class="td-head-progress">5</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td data-toggle="tooltip" data-placement="bottom" title=""></td>
                    <td data-toggle="tooltip" data-placement="bottom" title=""></td>
                    <td data-toggle="tooltip" data-placement="bottom" title=""></td>
                    <td data-toggle="tooltip" data-placement="bottom" title=""></td>
                    <td data-toggle="tooltip" data-placement="bottom" title=""></td>
                </tr>
            </tbody>
        </table>

            {#<div class="btn-group">#}
                {#<button class="btn btn-white">1</button>#}
                {#<button class="btn btn-white active">1</button>#}
                {#<button class="btn btn-white">2</button>#}
                {#<button class="btn btn-white">3</button>#}
                {#<button class="btn btn-white">4</button>#}
                {#<button class="btn btn-white">5</button>#}
                {#<button class="btn btn-white">1</button>#}
            {#</div>#}
    </div>
    </div>
</div>

{#<div class="col-lg-1">#}
    {#<div class="row">#}
        {#<div class="col-lg-12">#}
            {#<button class="btn btn-default btn-block btn-dossier-validation">Valider</button>#}
        {#</div>#}

    {#</div>#}
{#</div>#}











