<div class="row">
    {#<div class="col-lg-6">#}
        {#<button type="button" class="btn btn-xs btn-default btn-block btn-outline btn-tout-replier">Replier tout</button>#}
    {#</div>#}
    {#<div class="col-lg-6">#}
        {#<button type="button" class="btn btn-xs btn-primary btn-block btn-outline btn-tout-develloper">Développer tout</button>#}
    {#</div>#}

    <div class="col-lg-12">
    <button type="button" class="btn btn-xs btn-default btn-block btn-outline btn-tout-develloper">
        <i class="fa fa-expand"></i>&nbsp;&nbsp;Développer Tout</button>
    </div>
</div>