<div class="row">
    {{ include('NoteFraisBundle:Note:noteFiltre.html.twig') }}
</div>

<div class="row">
    {{ include('NoteFraisBundle:Note:noteAction.html.twig') }}
</div>

<div class="row note-table-contenu">
    {{ include('NoteFraisBundle:Note:noteTable.html.twig') }}
</div>

<div class="row">
    {{ include('NoteFraisBundle:Note:noteModal.html.twig') }}
</div>