<div class="row">

    <div class="col-lg-2">
        {{ render(controller('AppBundle:Commun:clients',{'conteneur' : 0, 'tous' : 0})) }}
    </div>

    <div class="col-lg-2" id="js_conteneur_site">

    </div>

    <div class="col-lg-2" id="js_conteneur_dossier">

    </div>

    <div class="col-lg-3">

        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-5 control-label">
                    <span>Banque</span>
                </label>
                <div class="col-lg-7">
                    <select class="form-control" id="js_banque">
                        <option></option>

                    </select>
                </div>
            </div>
        </form>
    </div>

    <div class="col-lg-2">

        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-5 control-label">
                    <span>Exercice</span>
                </label>
                <div class="col-lg-7">
                    <select class="form-control" id="js_exercice">
                        <option value="0"></option>
                        {{ render(controller('ConsultationPieceBundle:ConsultationPiece:exercice')) }}
                    </select>
                </div>
            </div>
        </form>
    </div>

    {#<div class="col-lg-1">#}
        {#<button class="btn btn-primary" type="submit" id="btn-go-releve-manquant">GO</button>#}
    {#</div>#}


    <div class="col-lg-1">
        <button class="btn btn-primary go-banque" type="submit">GO</button>
    </div>



</div>