{% extends 'BanqueBundle:Default:index.html.twig' %}

{% block contenu_banque %}

    <div class="row scroller" id="js_preparation_tva">
        {{ include('AppBundle:Commun:page-en-cours.html.twig') }}
    </div>
{% endblock %}