<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group col-sm-5">
                <label class="col-lg-4 control-label" for="id_mot_cfonb">Mot</label>
                <div class="col-lg-8">
                    <input type="text" id="id_mot_cfonb" name="id_mot_cfonb" class="form-control js_mot_cfonb">
                </div>
            </div>
            <div class="form-group col-sm-5">
                <label class="col-lg-4 control-label" for="id_mot_cfonb">Mot</label>
                <div class="col-lg-8">
                    <input type="text" id="id_mot_cfonb" name="id_mot_cfonb" class="form-control js_mot_cfonb">
                </div>
            </div>
            <div class="form-group col-sm-5">
                <label class="col-lg-4 control-label" for="id_mot_cfonb">Mot</label>
                <div class="col-lg-8">
                    <input type="text" id="id_mot_cfonb" name="id_mot_cfonb" class="form-control js_mot_cfonb">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group text-right">
    <span class="btn btn-sm btn-white js_close_modal"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Annuler</span>
    <span class="btn btn-sm btn-primary js_add_filtre_cfonb_select"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Valider</span>
</div>