<div class="ibox scroller">
    <div class="ibox-content">



        <div class="input-group">
            <input type="text" class="form-control" id="js_instr_autre_logiciel">
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary" id="instr-autre-logiciel-valider">Valider</button>
            </span>
        </div>

        {#<div class="modal-footer">#}
            {#<button type="button" class="btn btn-primary" id="instr-autre-logiciel-valider">Valider</button>#}
        {#</div>#}

    </div>
</div>