<div class="modal-footer">

    <button type="button" class="btn btn-white instr-decliner">Je décline</button>
    <button type="button" class="btn btn-primary instr-accepter">J'accepte</button>

</div>