<div class="ibox scroller">
    <div class="ibox-content">

        <h4>1 Nourriture</h4>
        <p>Les charges et les TVA sont comptabilisées pour les frais de restaurant correspondant à des repas d’affaires ou à des voyages professionnels tels que congrès ou séminaires s’ils sont exposés dans l’intérêt de l’exploitation, sont dûment justifiés et sont dans un rapport normal avec l’activité de l’exploitant et l’avantage qu’il en attend. Il en est de même pour le repas à l’occasion d’une réunion professionnelle entre salariés, le repas d’un salarié tout seul en mission pour l’entreprise et le repas de fin d’année ou d’une cérémonie.</p>
        <p>Par mesure de simplification, la TVA est récupérée sur toutes les factures de restaurant, à l’exception de celle établies pour un repas unique, sauf indication contraire.</p>
        <p>Les frais de repas pris sur le lieu de travail à titre individuel sont enregistrés en tenant compte de la limite de déduction qui est égale à l’écart existant entre le montant réputé correspondre au coût d’un repas pris au domicile (4.55€ pour 2013, 4.60€ pour 2014, 4.65€ pour 2015, xxx pour 2016) et un plafond au-delà duquel les frais exposés sont présumés présenter un caractère personnel (17.70€ pour 2013, 17.90€ pour 2014, 18.10€ pour 2015, xxx pour 2016).</p>
        <br/>

        <h4>2 Déplacements</h4>
        <ul>
            <li>Les TVA des transports de personnes (quel que soit le mode : train, taxi, avion, …), et quel que soit le motif (mission, réception, …) ne sont pas récupérées.</li>
            <li>Les TVA d’achat ou location d’un parking ne sont pas récupérées sauf pour la TVA afférente à des dépenses de parkings situés sur le lieu de travail ou à proximité. Il doit être mentionné sur la pièce si le parking est loin du lieu de travail.</li>
            <li>Les TVA sur les péages sont récupérées.</li>
        </ul>
        <br/>

        <h4>3 Frais d’hébergement</h4>
        <ul>
            <li>La TVA sur les frais de nuit d’hôtel pour un dirigeant ou un salarié n’est pas récupérée. Elle l’est pour un tiers (client, fournisseur, intervenant extérieur, …) si l’invitation est faite dans l’intérêt de l’entreprise.</li>
            <li>Concernant le petit déjeuner, repas ou boissons à l’hôtel, la TVA est récupérée.</li>
        </ul>
        <br/>

        <h4>4 Cadeaux d’entreprise</h4>
        <p>Les TVA des cadeaux à la clientèle sont récupérées pour les objets dont la valeur unitaire n’excède pas 65€ TTC par année et par bénéficiaire. En outre, lorsqu’un cadeau est constitué par la somme de plusieurs objets pouvant être distribués isolément, c’est la valeur totale de l’ensemble qui doit être retenue et non celle de la valeur de chaque article.</p>
        <br/>

        <h4>5 Logements</h4>
        <p>En application des dispositions du 2° du 2 du IV de <strong>l’article 206 de l’annexe II au code général des impôts (CGI)</strong>, un assujetti ne peut pas déduire la taxe ayant grevé les dépenses de bien ou de service supportées pour permettre d’assurer le logement à titre gratuit des dirigeants ou du personnel de l’entreprise. (Cette disposition n'est pas </p>


        {{ include('InfoPerdosBundle:InstructionDossier:footer.html.twig') }}

    </div>



</div>

