<div class="ibox">
    <div class="ibox-content">
        <p>La règle fiscale est suivie : toutes les dépenses inférieures à 500 € TTC sont comptabilisées en charge. Sauf indication contraire du client, à préciser sur la pièce, ou lors de la création du dossier</p>

        {{ include('InfoPerdosBundle:InstructionDossier:footer.html.twig') }}
    </div>
</div>

