<div class="ibox scroller">
    <div class="ibox-content">

        <textarea name="txt-decline" id="js_instr_texte_decline"></textarea>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="instr-decliner-valider">Valider</button>
        </div>

    </div>
</div>

