<form class="form-horizontal" id="js_form_instr_instruction_saisie">

    <div class="row">

        {#<div class="col-lg-6">#}
        {#{% for instructionType in instrucitonTypes %}#}
        {#<div class="form-group">#}
        {#<label class="col-lg-6 control-label instruction">{{ instructionType.libelle }}</label>#}
        {#<div class="col-lg-6">#}
        {#<div class="checkbox checkbox-success checkbox-inline">#}
        {#<input type="checkbox" class="checkbox-primary" id="js_instr_chk_{{ instructionType.id }}" data-id = {{ instructionType.id }}>#}
        {#<label></label>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#{% endfor %}#}

        {#</div>#}

        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-content">
                    <p>
                        Les protocoles de saisie suivis sont détaillés par thèmes ci-contre.  En cas de désaccord, indiquer la procédure que vous voudriez suivre. On vous recontactera dans les 48 heures afin d'en discuter et de figer la procédure qui satisfait les parties.
                    </p>

                    <p>
                        Sans validation particulière, c'est l'ensemble qui est consideré accepté.
                    </p>


                </div>
            </div>
        </div>

        <div class="col-sm-4">

            <div class="form-group">
                <label class="col-lg-6 control-label instruction">Création compte tiers</label>
                <div class="col-lg-6">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" class="checkbox-primary" id="js_instr_chk_13" data-id = 13 checked>
                        <label></label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-6 control-label instruction">Banques</label>
                <div class="col-lg-6">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" class="checkbox-primary" id="js_instr_chk_5" data-id = 5 checked>
                        <label></label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-6 control-label instruction">Caisses</label>
                <div class="col-lg-6">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" class="checkbox-primary" id="js_instr_chk_4" data-id = 4 checked>
                        <label></label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-6 control-label instruction">Cadeaux d'entreprise</label>
                <div class="col-lg-6">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" class="checkbox-primary" id="js_instr_chk_11" data-id = 11 checked>
                        <label></label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-6 control-label instruction">Déplacements</label>
                <div class="col-lg-6">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" class="checkbox-primary" id="js_instr_chk_10" data-id = 10 checked>
                        <label></label>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-6 control-label instruction">Restaurants</label>
                <div class="col-lg-6">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" class="checkbox-primary" id="js_instr_chk_8" data-id = 8 checked>
                        <label></label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-6 control-label instruction">Petites dépenses</label>
                <div class="col-lg-6">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" class="checkbox-primary" id="js_instr_chk_1" data-id = 1 checked>
                        <label></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label class="col-lg-8 control-label instruction">Nourriture</label>
                <div class="col-lg-4">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" class="checkbox-primary" id="js_instr_chk_7" data-id = 7 checked>
                        <label></label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-8 control-label instruction">Hébergements</label>
                <div class="col-lg-4">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" class="checkbox-primary" id="js_instr_chk_9" data-id = 9 checked>
                        <label></label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-8 control-label instruction">Immobilisations</label>
                <div class="col-lg-4">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" class="checkbox-primary" id="js_instr_chk_2" data-id = 2 checked>
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-8 control-label instruction">Logements</label>
                <div class="col-lg-4">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" class="checkbox-primary" id="js_instr_chk_12" data-id = 12 checked>
                        <label></label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-8 control-label instruction">TVA</label>
                <div class="col-lg-4">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" class="checkbox-primary" id="js_instr_chk_3" data-id = 3 checked>
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-8 control-label instruction">Véhicules</label>
                <div class="col-lg-4">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" class="checkbox-primary" id="js_instr_chk_6" data-id = 6 checked>
                        <label></label>
                    </div>
                </div>
            </div>
        </div>

    </div>

</form>