<div class="ibox scroller">
    <div class="ibox-content">

        <h4>1 Définition</h4>
        <p>Les dépenses réalisées par la banque ou la caisse de l’entreprise, et pour lesquelles, il existe une facture, font l’objet de comptabilisation en journal des achats</p>
        <p>Les dépenses payées personnellement  par un associé, un dirigeant ou un salarié et dans l’intérêt de l’entreprise sont des notes de frais et font l’objet d’une comptabilisation en journal des OD.</p>
        <br/>

        <h4>2 Les notes de frais</h4>
        <p>La meilleure méthode de comptabilisation, la plus rapide et économique reste la Note de Frais remplie et signée par le client. Dans ce cas, il conserve ses justificatifs et ne les envois pas à la saisie. </p>
        <br/>

        <h4>3 Les dépenses de banque, CB ou caisse de l’entreprise, sans facture de justification</h4>
        <h5><strong>Les dépenses supérieures à 100 € TTC</strong></h5>
        <p>Ces dépenses sont comptabilisées en compte d’attente et les pièces sont demandées dans la DPM</p>

        <h5><strong>Les dépenses inférieures à 100 € TTC</strong></h5>
        <p>Si elles sont comptabilisées sans pièce, le libellé de l’écriture comporte une indication « TST », qui permet de les retrouver et les lister en fin de période.</p>
        <ul>
            <li>
                Si la nature de la charge est identifiable :
                <ul>
                    <li>La dépense est imputée en charge et en banque et réintégrée fiscalement. La TVA n’est pas comptabilisée</li>
                    <li>Si le tiers supposé, ainsi que la nature de la dépense sont identifiables, la TVA peut être récupérée s’il n’y a aucun doute</li>
                </ul>
            </li>
            <li>
                Si la nature de la charge n’est pas identifiable :
                <ul>
                    <li>La dépense est imputée en compte de l’exploitant ou compte courant </li>
                    <li>Ou font l’objet d’une demande DRT, selon l’option choisie</li>
                </ul>
            </li>
        </ul>
        </br>


        <h4>4 Les factures sans indication de paiement</h4>
        <p>Les factures adressées à l’entreprise, non payées par la banque ou la caisse de l’entreprise, restent en compte fournisseurs. Si elles ont été payées par les soins du dirigeant, il doit l’indiquer sur la pièce (indication « payée perso » ou « c/c », par exemple). Si cette indication n’existe pas,  le montant créditeur est inscrit dans un compte de tiers fournisseur.</p>

        {{ include('InfoPerdosBundle:InstructionDossier:footer.html.twig') }}

    </div>
</div>

