<div class="ibox scroller">
    <div class="ibox-content">

        <h4>1 Déclaration</h4>
        <p>La TVA doit être télédéclarée et payée dans les délais. Si la TVA est préparée par Scriptura et télédéclarée par le Cabinet, Scriptura doit l’avoir terminé dans les 48 heures avant l’échéance, pour laisser au Cabinet le temps de la vérifier et de la télédéclarer.</p>
        <p>Afin de pouvoir traiter ces demandes, les pièces du mois doivent être envoyées à Scriptura au <strong>moins 5 jours ouvrés avant la date d’envoi au Cabinet</strong> , soit 7 jours ouvrés avant l’échéance fiscale du dossier.</p>
        <p>Un tableau des dates d’envoi par dossier et par échéance de TVA est consultable dans Picdata</p>
        <p><strong>Dans le cas où les pièces ne sont pas reçues dans les délais indiqués, nous ne pouvons garantir leur saisie. Dans ce cas, la saisie de ces pièces et leur inclusion dans le calcul de la TVA sera reportée au mois suivant.</strong></p>
        <p><strong>S’il est impossible de la faire, la TVA sera établie « à main levée », ou encore s’il manque trop de pièces, à la moyenne des trois dernières déclarations</strong></p>
        <p>Cependant, après 3 TVA sans pièces, elle ne sera plus établie et déclarée s’il n’y a toujours pas de pièces.</p>

        <br/>

        <h4>2 Comptabilisation</h4>
        <p>La TVA collectée est enregistrée dans des comptes différents selon le taux de TVA.</p>
        <p>La TVA déductible est enregistrée dans le même compte quel que soit le taux. Cependant, un compte enregistre la TVA récupérable au décaissement, et un autre pour la TVA récupérable au débit, sur facture. La modification dans nos logiciels de saisie est en cours, et sera effective au 30 juin 2017. En général, la TVA récupérable sur décaissement provient des comptes 604 (achats d’études et de prestations), 611 (Sous-traitance générale)  et 622 (Honoraires)</p>

        {{ include('InfoPerdosBundle:InstructionDossier:footer.html.twig') }}

    </div>
</div>

