<div class="ibox scroller">
    <div class="ibox-content">
        <ul>
            <li>
                <strong>Acquisition :</strong>
                <ul>
                    <li>Si véhicule utilitaire : le montant HT est immobilisé, amorti en totalité et la TVA récupérée.</li>
                    <li>Si véhicule de tourisme : le montant TTC est immobilisé sans récupération de la TVA. Il est à amortir à hauteur de 18 300€ (plafonds 2016) ou 9 900€ selon leur taux d’émission de CO2</li>
                </ul>
            </li>
            <br/>

            <li>
                <strong>Location ou leasing :</strong>
                <ul>
                    <li>Si véhicule utilitaire : le montant HT est passé en charges et la TVA récupérée</li>
                    <li>Si véhicule de tourisme : le montant TTC est passé en charges sans récupération de la TVA.</li>
                </ul>
            </li>
            <br/>

            <li>
                <strong>Frais d’entretien de véhicule de la société (en immobilisation, en location ou en leasing)</strong>
                <ul>
                    <li>Si véhicule utilitaire : les frais HT sont déduits et la TVA récupérée</li>
                    <li>Si véhicule de tourisme : les frais TTC sont déduits sans récupération de la TVA</li>
                    <p>Il est à remarquer que le véhicule ne fait pas l’objet d’un calcul des indemnités kilométriques. Si c’est le cas, les frais d’entretien sont à passer dans le compte courant d’associé ou dans le compte de l’exploitant.</p>
                </ul>
            </li>
            <br/>

            <li>
                <strong>Frais de carburant du véhicule de la société (en immobilisation, en location ou en leasing)</strong>
                <ul>
                    <li>Essence : pas de récupération de la TVA</li>
                    <li>Diesel ou gasoil : récupération de la TVA à 100% si véhicule utilitaire et 80% si véhicule de tourisme</li>
                    <p>Il est à remarquer que le véhicule ne fait pas l’objet d’un calcul des indemnités kilométriques. Si c’est le cas, les frais de carburant sont à passer dans le compte courant d’associé ou dans le compte de l’exploitant.</p>
                </ul>
            </li>


        </ul>

        {{ include('InfoPerdosBundle:InstructionDossier:footer.html.twig') }}
    </div>
</div>

