{% extends 'user-email.html.twig' %}
{% block title %}
    Réinitialisation de votre mot de passe
{% endblock %}
{% block salutation %}
Bonjour {{ utilisateur.prenom }} {{ utilisateur.nom }}
{% endblock %}

{% block message %}
    <p>Vous avez demandé une réinitialisation de votre mot de passe.</p>

    <p>Vous pouvez cliquer sur le lien suivant et suivre les étapes nécéssaires.</p>

    <p>A très bientôt.</p>
{% endblock %}
{% block connexion %}
    <td>
        <table style="text-align:center;width:100%;">
            <tr style="text-align:center;">
                <td style="width:20%;"></td>
                <td align="center" style="width:60%;background-color: #1ab394;border-color: #4c5764;border: 2px solid #45b7af;padding: 10px;text-align: center;">
                    <a style="display: block;color: #ffffff;font-size: 12px;text-decoration: none;text-transform: uppercase;font-family:Arial,Helvetica,sans-serif;"
                       href="{{ url('user_password_request_email_confirm', {'email': encoded_email, 'token': request_token }) }}">
                        Réinitialiser mon mot de passe
                    </a>
                </td>
                <td style="width:20%;"></td>
            </tr>
        </table>
        <div style="height:25px;"></div>
    </td>
{% endblock %}