<div class="btn-group" id="js_id_type_affichage">
    <span data-toggle="dropdown" class="btn btn-white btn-sm dropdown-toggle">Afficher{#&nbsp;<span class="caret"></span>>#}</span>
    <ul class="dropdown-menu">
        <li data-type="0" class="js_cl_type_affichage {{ affichage == 1 ? '' : 'active' }}"><a href="#">Icone</a></li>
        <li data-type="1" class="js_cl_type_affichage {{ affichage == 1 ? 'active' : '' }}"><a href="#">Valeur</a></li>
        <li data-type="2" class="js_cl_type_affichage"><a href="#">Point</a></li>
    </ul>
</div>