<div class="radio radio-info radio-inline hidden">
    <input class="js_option" type="radio" id="radio-bg" checked name="radio-bg" value="0">
    <label for="radio-bg">Balance generale</label>
</div>
<div class="js_cl_container_etat"></div>