<div class="row">
    <div class="col-lg-4">
        <div class="radio radio-info radio-inline">
            <input class="js_option" type="radio" id="radio-gl-g" name="radio-gl" value="2">
            <label for="radio-gl-g">G&eacute;n&eacute;ral</label>
        </div>
        <div class="radio radio-info radio-inline">
            <input class="js_option" type="radio" id="radio-gl-cl" checked name="radio-gl" value="1">
            <label for="radio-gl-cl">Client</label>
        </div>
        <div class="radio radio-info radio-inline">
            <input class="js_option" type="radio" id="radio-gl-fr" name="radio-gl" value="0">
            <label for="radio-gl-fr">Fournisseur</label>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="checkbox checkbox-inline">
            <input type="checkbox" id="id_expand" checked>
            <label for="id_expand">D&eacute;velopper</label>
        </div>

        <div class="checkbox checkbox-inline">
            <input type="checkbox" id="id_lettre" checked>
            <label for="id_lettre">Lettr&eacute;s</label>
        </div>

        <div class="checkbox checkbox-inline">
            <input type="checkbox" id="id_group_lettre">
            <label for="id_group_lettre">Regrouper&nbsp;lignes&nbsp;lettr&eacute;es</label>
        </div>

        <div class="checkbox checkbox-inline">
            <input type="checkbox" id="id_an_detailler">
            <label for="id_an_detailler">A&nbsp;nouveaux&nbsp;detaill&eacute;s</label>
        </div>
    </div>
</div>

<div class="js_cl_container_etat" style="margin-top: 8px!important;"></div>