<div class="radio radio-info radio-inline hidden">
    <input class="js_option" type="radio" id="radio-jn" checked name="radio-jn" value="0">
    <label for="radio-jn">Journaux</label>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-lg-3" for="js_journal">
                    <span>Journal</span>
                </label>
                <div class="col-lg-9">
                    <select class="client form-control" id="js_journal">
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="js_cl_container_etat"></div>