<div class="radio radio-info radio-inline hidden">
    <input class="js_option" type="radio" id="radio-jc" checked name="radio-jc" value="0">
    <label for="radio-jc">Journal centralisateur</label>
</div>
<div class="js_cl_container_etat"></div>