<div class="col-sm-3">
    {{ render(controller('AppBundle:Commun:clients',{'conteneur' : 0 })) }}
</div>
<div class="col-sm-3" id="js_conteneur_site">

</div>
<div class="col-sm-4" id="js_conteneur_dossier">

</div>
<div class="col-sm-2" id="js_conteneur_periode">

</div>
<div class="hidden js_date_picker_hidden">

</div>