<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>ETAT DE BASE</h5>
        <div class="ibox-tools">
            <span class="btn btn-xs btn-default btn-outline collapse-link">
                <i class="fa fa-chevron-up"></i>
            </span>
        </div>
    </div>
    <div class="ibox-content full-height-scroll scroller">
        <div class="file-manager" id="js_eb_menu">
            <h5>BALANCES</h5>
            <ul class="folder-list padding-2">
                <li><a class="js_eb_mn_item js_control_element eb_menu_active" data-etat="0" href=""><i class="fa fa-chevron-circle-right"></i>&nbsp;<span>G&eacute;n&eacute;rale</span></a></li>
                <li><a class="js_eb_mn_item js_control_element" data-etat="1" href=""><i class="fa fa-chevron-circle-right"></i>&nbsp;<span class="text-black">Fournisseur</span></a></li>
                <li><a class="js_eb_mn_item js_control_element" data-etat="2" href=""><i class="fa fa-chevron-circle-right"></i>&nbsp;<span class="text-black">Client</span></a></li>
                <li><a class="js_eb_mn_item js_control_element" data-etat="3" href=""><i class="fa fa-chevron-circle-right"></i>&nbsp;<span class="text-black">Ag&eacute;e Fournisseur</span></a></li>
                <li><a class="js_eb_mn_item js_control_element" data-etat="4" href=""><i class="fa fa-chevron-circle-right"></i>&nbsp;<span class="text-black">Ag&eacute;e Client</span></a></li>
            </ul>
            <div>&nbsp;</div>
            <h5>JOURNAUX</h5>
            <ul class="folder-list padding-2">
                <li>
                    <a class="js_eb_mn_item js_control_element" data-etat="5" data-id_journal="0" href=""><i class="fa fa-chevron-circle-right"></i>&nbsp;<span class="text-black">Journaux</span><i id="js_eb_journal_affichage" class="fa fa-chevron-down pull-right"></i></a>
                    <ul id="js_eb_journaux">
                    </ul>
                </li>
                <li><a class="js_eb_mn_item js_control_element" data-etat="6" href=""><i class="fa fa-chevron-circle-right"></i>&nbsp;<span class="text-black">Journal centralisateur</span></a></li>
            </ul>
            <div>&nbsp;</div>
            <h5>GRAND&nbsp;LIVRE</h5>
            <ul class="folder-list padding-2">
                <li><a class="js_eb_mn_item js_control_element" data-etat="7" href=""><i class="fa fa-chevron-circle-right"></i>&nbsp;<span class="text-black">G&eacute;n&eacute;ral</span></a></li>
                <li><a class="js_eb_mn_item js_control_element" data-etat="8" href=""><i class="fa fa-chevron-circle-right"></i>&nbsp;<span class="text-black">Fournisseur</span></a></li>
                <li><a class="js_eb_mn_item js_control_element" data-etat="9" href=""><i class="fa fa-chevron-circle-right"></i>&nbsp;<span class="text-black">Client</span></a></li>
            </ul>
            <div>&nbsp;</div>
            <h5><a class="js_eb_mn_item js_control_element text-black" data-etat="10" href=""><span class="text-black">CONTROLE&nbsp;&nbsp;&nbsp;&nbsp;</span></a></h5>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="ibox-footer">
    </div>
</div>
