<input type="hidden" id="js_admin_dossier" value="{{ admin_dossier|boost }}"/>
{% if admin_dossier == 1 %}
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                    {{ render(controller('AppBundle:Commun:clients',{ 'conteneur' : 0 })) }}
                </div>
                <div class="col-sm-4" id="js_conteneur_site">

                </div>
                <div class="col-sm-4" id="js_conteneur_dossier">

                </div>
            </div>
        </div>
    </div>
{% endif %}