<div class="row ndf-filtre">
    <div class="col-sm-3">
        {{ render(controller('AppBundle:Commun:clients',{'conteneur' : 0, 'tous' : 0})) }}
    </div>
    <div class="col-sm-3" id="js_conteneur_site">

    </div>
    <div class="col-sm-3" id="js_conteneur_dossier">

    </div>
</div>