<div class="row">
    {{ include('NoteFraisBundle:Depense:depenseModal.html.twig') }}
</div>

<div class="row">
    {{ include('NoteFraisBundle:Note:noteModal.html.twig') }}
</div>

<div class="row">
    {{ include('NoteFraisBundle:Depense:depensePJModal.html.twig') }}
</div>
