<div class="row ndf-navigation hidden">
    <div class="col-md-3">
        {#<div class="widget style1 blue-bg note-widget" onclick="location.href='{{ path("note_frais_note") }}';">#}
        <div class="widget style1 blue-bg note-widget" data-page="note_frais">
            <div class="row vertical-align">
                <div class="col-xs-2">
                    <i class="fa fa-edit fa-3x"></i>
                </div>
                <div class="col-xs-10 text-right">
                    <h3 class="font-bold">Note de frais et Affaires</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        {#<div class="widget style1 blue-bg depense-widget" onclick="location.href='{{ path("note_frais_depense") }}';">#}
        <div class="widget style1 blue-bg depense-widget" data-page="depense">
            <div class="row vertical-align">
                <div class="col-xs-2">
                    <i class="fa fa-money fa-3x"></i>
                </div>
                <div class="col-xs-10 text-right">
                    <h3 class="font-bold">Saisie de vos dépenses</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        {#<div class="widget style1 blue-bg image-widget" onclick="location.href='{{ path("note_frais_image") }}'" >#}
        <div class="widget style1 blue-bg image-widget" data-page="envoi">
            <div class="row vertical-align">
                <div class="col-xs-2">
                    <i class="fa fa-send fa-3x"></i>
                </div>
                <div class="col-xs-10 text-right">
                    <h3 class="font-bold">Envoi des images</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        {#<div class="widget style1 blue-bg parametre-widget" onclick="location.href='{{ path("note_frais_administration") }}';">#}
        <div class="widget style1 blue-bg parametre-widget" data-page="administration">
            <div class="row vertical-align">
                <div class="col-xs-2">
                    <i class="fa fa-gear fa-3x"></i>
                </div>
                <div class="col-xs-10 text-right">
                    <h3 class="font-bold">Paramètres</h3>
                </div>
            </div>
        </div>
    </div>

</div>
