<div class="input-group m-b pull-right">
    <button class="btn btn-sm btn-white view-bloc">
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
    </button>

    <button class="btn btn-sm btn-white view-table">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
    </button>
</div>