<div class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-2 control-label">Compte</label>
        <div class="col-lg-10">
            <input type="text" placeholder="Compte" class="form-control js_cl_pcg_compte">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Intitul&eacute;</label>
        <div class="col-lg-10">
            <input type="text" placeholder="Intitule" class="form-control js_cl_pcg_intitule">
        </div>
    </div>
    <div style="margin-top: 5px!important;" class="text-right">
        <span class="btn btn-white btn-sm js_close_modal"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Annuler</span>
        <span class="btn btn-primary btn-sm js_add_pcg"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Cr&eacute;er&nbsp;</span>
    </div>
</div>