<tr data-id="{{ rubriqueFormule.id|boost }}">
    <td class="pointer js_td_table_rubrique_calcule">{{ rubriqueFormule.libelle }}</td>
    <td class="pointer js_td_table_rubrique_caclule_remove"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
</tr>