<div class="row scroller" style="height: {{ height }}px">
    <div class="col-lg-6">
        <table class="table" id="js_id_table_formule">
            <thead>
                <tr>
                    <th width="90%">LISTE</th>
                    <th width="10%" align="right"><span class="btn btn-primary btn-xs js_new_formule"><i class="fa fa-plus" aria-hidden="true"></i></span></th>
                </tr>
            </thead>
            <tbody>
                {% for rubrique in rubriques %}
                    <tr data-id="{{ rubrique.id|boost }}">
                        <td class="pointer js_td_table_rubrique_calcule">{{ rubrique.libelle }}</td>
                        <td class="pointer js_td_table_rubrique_caclule_remove"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <div role="form" id="js_form_formule">
            <div class="form-group">
                <label>Nom&nbsp;de&nbsp;la&nbsp;formule</label>
                <input type="text" id="js_formule_libelle" placeholder="Nom" class="form-control" value="">
            </div>
            <div class="form-group" id="js_resizable">
                <label>Formule</label>
                <div id="js_formule" class="scroller js_formule" style="word-wrap: break-word!important;height: 150px!important; border: 1px solid #CCCCCC;background-color: #FFFFFF;padding: 4px!important;">
                </div>
                <input type="text" id="js_formule_focus" style="height: 0!important;width: 0!important;">
            </div>
            <div class="text-right">
                <span class="btn btn-primary btn-xs" id="js_valider_formule"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Valider</span>
                <input type="hidden" id="js_id_formule" value="">
            </div>
        </div>
    </div>
</div>