<div class="widget widget-hover pointer {{ bg }}">
    <div class="row">
        <div class="col-xs-4">
            <i class="fa {{ icon }} fa-5x"></i>
        </div>
        <div class="col-xs-8 text-right">
            <h1 class="font-bold">{{ bilan }}</h1>
            <span>{{ message }}</span>
        </div>
    </div>
</div>