<div class="col-sm-4">
    {{ render(controller('AppBundle:Commun:clients',{'conteneur' : 0})) }}
</div>
<div class="col-sm-4" id="js_conteneur_site">

</div>
<div class="col-sm-4" id="js_conteneur_dossier">

</div>