{% extends 'AdminBundle:Default:index.html.twig' %}

{% block wrapper_content %}
    <div class="row">
        <div class="col-sm-12">
            <button id="id_ajout_client" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Nouveau client</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table id="table_clients"></table>
        </div>
    </div>
{% endblock %}